[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rgrass"]
	path = rgrass
	url = https://github.com/rsbivand/rgrass
[submodule "rgrass7"]
	path = rgrass7
	url = https://github.com/cran/rgrass7
[submodule "spgwr"]
	path = spgwr
	url = https://github.com/rsbivand/spgwr
[submodule "splancs"]
	path = splancs
	url = https://github.com/rsbivand/splancs
