[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rgrass"]
	path = rgrass
	url = https://github.com/rsbivand/rgrass
	shallow = true
	registered = true
